img {
    cursor: pointer;
    transition: transform .2s;
}

img:hover {
    transform: scale(1.1);
}

.mainpage-btn {
    margin-top: 10%;
}

figcaption {
    font-size: 30px;
    font-style: italic;
}
