<div class="row mainpage-btn">
<!--     <figure>
        <img src="/assets/search.png" alt="search"/>
        <figcaption style="text-align: center;"> Your text </figcaption>
    </figure> -->
    <div class="col">
        <figure style="text-align: center">
            <img src="/assets/search.png" alt="search" [routerLink]="['/search']">
            <figcaption class="mt-3">Search</figcaption>
        </figure>
    </div>
    <div class="col">
        <figure style="text-align: center">
            <img src="/assets/bookmark.png" alt="bookmark" [routerLink]="['/bookmarks']">
            <figcaption class="mt-3">Bookmark</figcaption>
        </figure>
    </div>
    <div class="col">
        <figure style="text-align: center">
            <img src="/assets/bus.png" alt="bus" [routerLink]="['/busServices']">
            <figcaption class="mt-3">Buses</figcaption>
        </figure>
    </div>
</div>